* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #14388E;
    color: white;
    padding: 30px;
    font-size: 18px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    border-bottom: solid 5px;
    border-bottom-color: #33CEFF;
}

.content {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding: 30px;
    line-height: 2.5em;
}

.intro {

}

.showdogs {

}

.dogs {

}

.column-left {

}

.column-right {

}

.column-center {

}

.footer {

}