* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #14388E;
    color: white;
    padding: 30px;
    font-size: 18px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    border-bottom: solid 5px;
    border-bottom-color: #33CEFF;
}

.content {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding: 30px;
    line-height: 2.5rem;
}

.showdogs {
    padding: 20px;
    background-color: lightgray;
    margin-top: 20px;
}

.form {
    width: 15%;
    line-height: 1.25em;
    font-size: 12.5px;
    padding: 5px;
    display: inline-block;
}

.form legend {
    font-weight: bold;
    padding: 3px 6px;
    font-size: 15px;
}

.form input {
    margin: .25rem;
}

.dogs {
    padding: 20px;
}

.column {
    padding: 10px;
    display: inline-block;
}

.footer {
    padding: 0;
}